## CVS and Pandas 

Download data in CSV format from one of the following sites: here or here. Load the data into a Pandas dataframe. Use Pandas to count the number of rows of data and number of columns. Display the first 8 rows of the dataframe. Display the bottom 3 rows of the dataframe. Display the transpose of the first 4 rows. ​

Your selection of a CSV should have at least 2 columns and at least 10 rows. Include a link to the data source in the Juptyer notebook you submit.​ ​

File: oscar_age_female.csv, age of female Oscar winners; 89 records: index, age, name, movie. There is also an initial header line.

In [2]:
import pandas as pd

In [15]:
oscar_age_female = pd.read_csv("oscar_age_female.csv")

In [16]:
oscar_age_female

    Index  "Year"  "Age"               "Name"                       "Movie"
0       1    1928     22       "Janet Gaynor"               "Seventh Heaven
1       2    1929     37      "Mary Pickford"                    "Coquette"
2       3    1930     28      "Norma Shearer"                "The Divorcee"
3       4    1931     63     "Marie Dressler"                "Min and Bill"
4       5    1932     32        "Helen Hayes"  "The Sin of Madelon Claudet"
..    ...     ...    ...                  ...                           ...
84     85    2012     62       "Meryl Streep"               "The Iron Lady"
85     86    2013     22  "Jennifer Lawrence"     "Silver Linings Playbook"
86     87    2014     44     "Cate Blanchett"                "Blue Jasmine"
87     88    2015     54     "Julianne Moore"                 "Still Alice"
88     89    2016     26        "Brie Larson"                        "Room"

[89 rows x 5 columns]

Counting number of rows and colums:

In [22]:
num_rows, num_colums = oscar_age_female.shape

In [20]:
num_rows

89

In [23]:
num_colums

5

Displaying first 8 rows of the data:

In [24]:
print(oscar_age_female.head(8))

   Index  "Year"  "Age"               "Name"                       "Movie"
0      1    1928     22       "Janet Gaynor"               "Seventh Heaven
1      2    1929     37      "Mary Pickford"                    "Coquette"
2      3    1930     28      "Norma Shearer"                "The Divorcee"
3      4    1931     63     "Marie Dressler"                "Min and Bill"
4      5    1932     32        "Helen Hayes"  "The Sin of Madelon Claudet"
5      6    1933     26  "Katharine Hepburn"               "Morning Glory"
6      7    1934     31  "Claudette Colbert"       "It Happened One Night"
7      8    1935     27        "Bette Davis"                   "Dangerous"

Displaying last 3 rows of the data:

In [25]:
print(oscar_age_female.tail(3))

    Index  "Year"  "Age"            "Name"         "Movie"
86     87    2014     44  "Cate Blanchett"  "Blue Jasmine"
87     88    2015     54  "Julianne Moore"   "Still Alice"
88     89    2016     26     "Brie Larson"          "Room"

Transpose of first 4 rows:

In [27]:
transposed_oscar_age_female = oscar_age_female.head(4).T

In [28]:
transposed_oscar_age_female

                       0                1                2                 3
Index                  1                2                3                 4
"Year"              1928             1929             1930              1931
"Age"                 22               37               28                63
"Name"    "Janet Gaynor"  "Mary Pickford"  "Norma Shearer"  "Marie Dressler"
"Movie"  "Seventh Heaven       "Coquette"   "The Divorcee"    "Min and Bill"